In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name = "./data/Economic Data.xlsx"

In [3]:
xl = pd.ExcelFile(file_name)
for sheet in xl.sheet_names:
    print(sheet)

Restaurant Receipt
Restaurant Receipt by Trade
GDP
CPI
Household
Visitor
Departure vs Arrival
Depart vs Arrival by Port Px
Gas vs Elect Sales
Gas Sales  by Trade
Hotel Occupancy

In [25]:
df = xl.parse("Depart vs Arrival by Port Px")

In [26]:
df = df.iloc[1:,:5]

In [27]:
df.columns = ["Date", "PortID", "PxType", "Arrivals", "Departures"]

In [28]:
portIDMap = {1: "Airport", 2: "Express Rail Link West Kowloon", 3: "Hung Hom", 4: "Lo Wu", 5: "Lok Ma Chau Spur Line", 6: "Hong Kong-Zhuhai-Macao Bridge", 7: "Lok Ma Chau", 8: "Man Kam To", 9: "Sha Tau Kok", 10: "Shenzhen Bay", 11: "China Ferry Terminal", 12: "Harbour Control", 13: "Kai Tak Cruise Terminal", 14: "Macau Ferry Terminal", 15: "Tuen Mun Ferry Terminal", 16: "Heung Yuen Wai"}

In [29]:
pxTypeMap = {1: "Hong Kong Residents", 2: "Mainland Visitors", 3: "Other Visitors"}

In [30]:
portIDMap[1]

'Airport'

In [31]:
for idx, row in df.iterrows():
    port_id = row.PortID
    px_type = row.PxType
    df.loc[idx, "PortIDName"] = portIDMap[port_id]
    df.loc[idx, "PxTypeName"] = pxTypeMap[px_type]

In [33]:
df

,Date,PortID,PxType,Arrivals,Departures,PortIDName,PxTypeName
1,2020-01-24 00:00:00,1,1,20724,74876,Airport,Hong Kong Residents
2,2020-01-24 00:00:00,1,2,9124,4451,Airport,Mainland Visitors
3,2020-01-24 00:00:00,1,3,14116,7242,Airport,Other Visitors
4,2020-01-24 00:00:00,2,1,1717,20096,Express Rail Link West Kowloon,Hong Kong Residents
5,2020-01-24 00:00:00,2,2,2380,2800,Express Rail Link West Kowloon,Mainland Visitors
...,...,...,...,...,...,...,...
80810,2024-11-25 00:00:00,14,2,774,1028,Macau Ferry Terminal,Mainland Visitors
80811,2024-11-25 00:00:00,14,3,2587,3291,Macau Ferry Terminal,Other Visitors
80812,2024-11-25 00:00:00,16,1,31460,30729,Heung Yuen Wai,Hong Kong Residents
80813,2024-11-25 00:00:00,16,2,9161,3725,Heung Yuen Wai,Mainland Visitors
80814,2024-11-25 00:00:00,16,3,221,213,Heung Yuen Wai,Other Visitors

In [43]:
df["Date"] = df["Date"].map(str)

In [46]:
df["Year"] = df["Date"].str[:4].map(int)

In [48]:
df["Month"] = df["Date"].str[5:7].map(int)

In [50]:
df["Day"] = df["Date"].str[8:10].map(int)

In [51]:
df

,Date,PortID,PxType,Arrivals,Departures,PortIDName,PxTypeName,Year,Month,Day
1,2020-01-24 00:00:00,1,1,20724,74876,Airport,Hong Kong Residents,2020,1,24
2,2020-01-24 00:00:00,1,2,9124,4451,Airport,Mainland Visitors,2020,1,24
3,2020-01-24 00:00:00,1,3,14116,7242,Airport,Other Visitors,2020,1,24
4,2020-01-24 00:00:00,2,1,1717,20096,Express Rail Link West Kowloon,Hong Kong Residents,2020,1,24
5,2020-01-24 00:00:00,2,2,2380,2800,Express Rail Link West Kowloon,Mainland Visitors,2020,1,24
...,...,...,...,...,...,...,...,...,...,...
80810,2024-11-25 00:00:00,14,2,774,1028,Macau Ferry Terminal,Mainland Visitors,2024,11,25
80811,2024-11-25 00:00:00,14,3,2587,3291,Macau Ferry Terminal,Other Visitors,2024,11,25
80812,2024-11-25 00:00:00,16,1,31460,30729,Heung Yuen Wai,Hong Kong Residents,2024,11,25
80813,2024-11-25 00:00:00,16,2,9161,3725,Heung Yuen Wai,Mainland Visitors,2024,11,25
80814,2024-11-25 00:00:00,16,3,221,213,Heung Yuen Wai,Other Visitors,2024,11,25

In [34]:
import pyodbc

In [35]:
server = "db-at-dev-01.database.windows.net"
database = "db-at-dev-gas-sale-01"
username = "sqladmin"
password = "Password2025"

In [36]:
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

In [ ]:
Year, Month, Day, Date, PortID, PortIDName, PxType, PxTypeName, Arrivals, Departures, Description

In [ ]:
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in result_df.iterrows():
     cursor.execute("INSERT INTO EconomicData.RestaurantReceipt (Year, Month, Day, Date, PortID, PortIDName, PxType, PxTypeName, Arrivals, Departures, Description) values(?,?,?,?,?,?,?,?,?,?,?)", row.Year, row.Month, row.Day, row.Date, row.PortID, row.PortIDName, row.PxType, row.PxTypeName, returnEmptyIfNan(row.Arrivals), returnEmptyIfNan(row.Departures), row.Description)
cnxn.commit()
cursor.close()